th, td{
    border: 3px solid;

}
table{
    border-collapse: collapse;
}

.str1{
    background-color: aqua;
}
.str2, .str3{
    background-color: rgb(147, 184, 78);
    height: 60px;
    width: 1px;
}
table{
    width: 300px;
    text-align: center;
}

.str4{
    background-color: rgb(16, 199, 41);
}